.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
    opacity: 100%;
}


:root {
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-color: #444;
    --gradient: linear-gradient(#fe5b3d, #ffac38);


}

.card {
    background-color: var(--second-color);

}


.black_color {
    color: black;
}

.register {
    width: 100%;
    font-weight: 800;
    background: #ffffff;
    color: #000000;

}